body{
height:550px;
width:900px;
background: #fff;	
}

/******* CAMPOS INPUTS *************/
input[type="text"],input[type="password"],input[type="submit"], select, option, input[type="button"],input[type="date"], textarea{
    font-family:Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
    color:#FFF;
    font-size:14px;
    background-color:#4DA9A6;
    border-radius:10px;
    text-align:left;
    border:none;
    display: none;
}
input[type="text"]:hover,input[type="password"]:hover,input[type="submit"]:hover,input[type="button"]:hover, input[type="date"]:hover,textarea:hover{
    background:#066;
    color:#FFF;
}
form{
    display: none;
}
table{
    position: relative;
    font-size: 11px;
}
.registros{
    position: absolute;
    width: 700px;
    left: 50%;
    margin-left:-350px;
}
.registros tr{
    border-top:solid 1px;
border-bottom: solid 1px;
border-color:#000;
border-top-left-radius:15px;
border-bottom-left-radius:15px;
-webkit-border-top-left-radius:15px;
-webkit-border-bottom-left-radius:15px;
}
#chmenu{
    background:#066;
    color:#FFF;
    display: none;
}
#chmenu:hover{
    background:#076;
    color:#FFF;
}

/***** HEADER *****/
#banner{
    position: absolute;
    height: 100px;
    width: 900px;
    left: 50%;
    margin-left: -450px;
    top: 2px;
    border-color: #fff;
    border-top-style:none;
    border-bottom-style: none;
}
.logo{
    position: relative;
    height: 94px;
    width: 225px;
    top:5px;
    left: 5px;
    border-radius:20px;
}
#menu{
    display: none;
}
#table_div{
	position:relative;
	top: -30px;
	border-color: #fff;
}
/*
**** MEIO *****/
#titulo_meio{
    position:absolute;
    left: 20px;
    font-size: 24px;
    font-weight: bold;
}
#inclui_pg{
    position:absolute;
    top:50px;
    height: auto;
}
#meio{
    position: relative;
    top:160px;
    width: 900px;
    left: 50%;
    margin-left: -450px;
/*height: auto;*/
}
#meio_rel{
    position: absolute;
    top:150px;
    width: 900px;
    min-height: 75%;
    border-style: none;
}
/***** FOOTER *****/
#conteudo {
padding-bottom:30px;
}

/*** LOGIN  loga.php  ***/
#loga{
    position: absolute;
    width: 100px;
    left: 50%;
    top:40px;
    margin-left: -50px;
}
#erro_login{
    position: absolute;
    width: 350px;
    left: 50%;
    margin-left: -175px;
    color: #f00;
    font-weight: bold;
}

#erro{
    color: #f00;
    font-weight: bold;
    z-index: 100;
}
#cadastrado{
    color: #4DA9A6;
    font-weight: bold;
    z-index: 100;
}

/*** CAD EMPRESA ***/
#cad_empresa{
    position: absolute;
    width: 400px;
    left: 50px;   
}

/*** LISTA CURSOS  cursos.php ****/
 #lista_cursos{ /* TABELA 
    position: absolute;
    width: 900px;
    background: #666;
    float:left;
    */
    position: absolute;
    top:160px;
    width: 900px;
    left: 0px;
    border-radius:20px;
    border-style: none;
    border-color: #000;
    border-top-style:none;
    border-bottom-style: none;
    min-height: 75%;
    
}#lista_cursosb{ 
    position: absolute;     
    top:70px;
    width: 900px;
    left: 0px;
    min-height: 75%;
    height: auto;
    
}
#lista_cursos ul{
    list-style: none;
}
#lista_cursos ul li{
    margin:0px auto;
    float:left;
}
.cima_cursos{
    position: absolute;
    left: 0px;
    width: 900px;
}
.cod_curso{
    position: absolute;
    width: 100px;
    left: 0px;
    border: #000;
    border-style: solid;
}
.tt_curso{
    position: absolute;
    width: 300px;
    left:103px;
    border: #000;
    border-style: solid;
}
.tmp_apx_curso{
    position: absolute;
    width: 70px;
    left:406px;
    border: #000;
    border-style: solid;
}
.apv_curso{
    position: absolute;
    width: 110px;
    left:479px;
    border: #000;
    border-style: solid;
}
.and_curso{
    position: absolute;
    width: 70px;
    left:592px;
    border: #000;
    border-style: solid;
}
.sit_curso{
    position: absolute;
    width: 100px;
    left:665px;
    border: #000;
    border-style: solid;
}
.aca_curso{
    position: absolute;
    width: 80px;
    left:768px;
    border: #000;
    border-style: solid;
}

.cnome{
text-align:center;
vertical-align:middle;
border-top:solid 1px;
border-bottom: solid 1px;
border-color:#000;
}
.cnome1{
text-align:center;
vertical-align:middle;
border-top:solid 1px;
border-bottom: solid 1px;
border-color:#000;
border-top-left-radius:15px;
border-bottom-left-radius:15px;
-webkit-border-top-left-radius:15px;
-webkit-border-bottom-left-radius:15px;
}
.cnome2{
text-align:center;
vertical-align:middle;
border-top:solid 1px;
border-bottom: solid 1px;
border-color:#000;
border-top-right-radius:15px;
border-bottom-right-radius:15px;
-moz-border-top-right-radius:15px;
-moz-border-bottom-right-radius:15px;
}

#conteudo tr:hover{
    background:#666;
 } 

 .impar{
     border-style: solid;
border-color:#000;
}
.par{
border-top:solid 1px;
border-bottom: solid 1px;
border-color:#000;
    
}
.quantias{
    font-size: 8px;
    border-style: groove;
    background: #ccc;
    position: absolute;
    right: 40px;
    top:-130px;
    color: #666;
}
#chart_div{
    position: absolute;
    top:-130px;
    width:200px;
    height:150px;
    background: #ccc;
}
#chart_div2{
    position: absolute;
    right: 0px;
    top:-130px;
    width:400px;
    height:300px;  
}
#table_div{
    border-radius: 20px;
	top:10px;
}

#obs{
	display:none;
}
#observacoes_us_print{
display:block;
}
#bt_editar{
display:none;
}
/* IMPRESSÕES */

#impresso{
	display:inline;
}
#no_impresso{
display:none;
}
#impresso_hora{
position: absolute;
top: 3px;
right: 5px;
z-index: 5;
}
.mhr{
opacity:0.2;
}
#tudo { 
	width:900px;
	position:relative;  /*Contexto de posicionamento */
	background:#fff;
	margin:0 auto;
	text-align:left;
	min-height:100%;/**/
	border-width:0 1px;
	box-shadow:0px 0px 5px #000;
	}
* html #tudo {height: 100%;}
#conteudo {
padding-bottom:30px;
}
#footer{
    position: absolute;
    bottom:-20px;
    height: 20px;
    width: 900px;
    left: 50%;
    margin-left: -450px;
    border-radius:20px;
    border-style: solid;
    border-color: #000;
    border-top-style:none;
    border-bottom-style: none;
    background: #fff;    
}
.mascote,.mascote-gripe{
	display:none;
}

h3 {page-break-before: always;}
#gEficiencia{
	position:relative;
	top:250px;
}

#satisfacao{
	position:relative;
	top:350px;
}

#outrosGraficos{
	position:relative;
	top:0px;
}

#gr_usuario{
height:420px;
width:100%;
top:-1250px;
position:relative;
}
#grusuario{
position:absolute;
}

#gr_setor{
height:420px;
width:100%;
top:-1250px;
position:relative;
}
#grsetor{
position:absolute;
}
#gr_tipo{
height:420px;
width:100%;
top:-1250px;
position:relative;
}
#grtipo{
position:absolute;
}

#gr_dia{
height:220px;
width:900px;
overflow:none;
top:-1250px;
position:relative;

}
#gr_mes{
height:220px;
width:900px;
overflow:none;
top:-1250px;
position:relative;

}

#lChamados{
	position:relative;
	top:-1250px;
}

